html {
  scroll-behavior: smooth;
}

body {
  background-color: #fafafa;
}

.profile-picture {
  margin-top: 20%;
  border-radius: 50%;
  width: 100%;
  height: auto;
  z-index: 0;
}

.navbar {
  font-family: "Inconsolata", monospace;
  font-size: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

.navbar-brand {
  font-size: 20px;
}

.title {
  margin-top: 50%;
  font-family: "Inconsolata", monospace;
}

.sub-title {
  font-size: 20px;
  font-family: "Inconsolata", monospace;
}

.about {
  text-align: center;
  margin-top: 10%;
  font-family: "Inconsolata", monospace;
}

.about h1 {
  margin-bottom: -5px;
}

.about h3 {
  font-size: 20px;
  color: #5e5e5e;
}

.underline-container {
  display: flex;
  justify-content: center;
}

.underline {
  width: 20%;
  border-bottom: 2px solid #5e5e5e;
  margin-bottom: 10px;
}

.underline-white {
  width: 20%;
  border-bottom: 2px solid #ffffff;
  margin-bottom: 10px;
}

.acheivements {
  margin-top: -30px;
  width: 100%;
  height: auto;
}

.footer {
  margin-top: 5%;
  text-align: center;
  background-color: #4b4b4b;
  padding-bottom: 20%;
}

.footer h1 {
  font-family: "Inconsolata", monospace;
  padding-top: 10%;
  color: white;
  font-size: 30px;
}

.footer h3 {
  color: white;
  font-family: "Inconsolata", monospace;
  font-size: 20px;
}

.fa-instagram {
  color: white;
}

.fa-instagram:hover {
  color: #ffcf31;
  text-decoration: none;
}

.fa-github {
  color: white;
}

.fa-github:hover {
  color: #ffcf31;
  text-decoration: none;
}

.fa-coffee {
  color: white;
}

.fa-coffee:hover {
  color: #ffcf31;
  text-decoration: none;
}
