html {
  scroll-behavior: smooth;
}

body {
  background-color: #fafafa;
}

.profile-picture {
  margin-top: 20%;
  border-radius: 50%;
  width: 100%;
  height: auto;
}

.navbar {
  font-family: "Inconsolata", monospace;
  font-size: 20px;
}

.navbar-brand {
  font-size: 20px;
}

.title {
  margin-top: 50%;
  font-family: "Inconsolata", monospace;
}

.sub-title {
  font-size: 20px;
  font-family: "Inconsolata", monospace;
}

.about {
  text-align: center;
  margin-top: 10%;
  font-family: "Inconsolata", monospace;
}

.about h1 {
  margin-bottom: -5px;
}

.about h3 {
  font-size: 20px;
  color: #5e5e5e;
}

.underline-container {
  display: flex;
  justify-content: center;
}

.underline {
  width: 20%;
  border-bottom: 2px solid #5e5e5e;
  margin-bottom: 10px;
}

.acheivements {
  margin-top: -30px;
  width: 100%;
  height: auto;
}
